.banner-content{
    padding-top: 400px;
    padding-left: 3rem;
    width: 45rem;
    background: transparent;
}
.banner-content h1{
    font-size: 3.5rem;
    color: white;
    background: transparent;
    margin-top: 10px;
}
.banner-content h4{
    color: white;
    background: transparent;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.more{
    color: white;
}
.more:hover{
    color: black;
    background-color: white;
}